.cv {
    text-align: center;
    width: 32%;
}

.imageCV {
    cursor: pointer;
    margin: 20px 0;
    width: 100%;
    border: solid 2px var(--color-primary-text);
}

.imageCV:hover {
    opacity: 0.8;
}

.download {
    font-style: italic;
    font-weight: bold;
    color: var(--color-primary-text);
    text-decoration: none;
    background-color: var(--color-secondary-background);
    padding: 4px 7px;
    border-radius: 7px;
    border: solid 1px var(--color-primary-text);
}

.download:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1600px) {
    .cv {
        width: 40%;
    }
}

@media screen and (max-width: 1150px) {
    .cv {
        width: 50%;
    }
}

@media screen and (max-width: 880px) {
    .cv {
        width: 60%;
    }
}

@media screen and (max-width: 630px) {
    .cv {
        width: 100%;
    }
}