.bar {
    width: 100%; 
    background-color: var(--color-secondary-text);
}

.bar > div {
    text-align: right;
    padding: 5px;
    color: #333;
    font-weight: bold;
    height: 30px;
}

.html {
    width: 90%; 
    background-color: #4CAF50;
}

.css {
    width: 80%; 
    background-color: #2196F3;
}

.js {
    width: 50%; 
    background-color: #f7df1e;
}

.php {
    width: 65%; 
    background-color: #8993be;
}

.illu {
    width: 70%; 
    background-color: orangered;
}